language: php
sudo: false
php:
  - nightly
  - 7.4
  - 7.3
  - 7.2
  - 7.1
  - 7.0
  - 5.6
matrix:
  fast_finish: true
  allow_failures:
    - php: nightly
  include:
    - php: 5.5
      dist: trusty
    - php: 5.4
      dist: precise
    
script:
  - pear run-tests -r tests/
